/* Category Page */

position: relative;
width: 390px;
height: 2140px;

background: #FFFFFF;


/* Frame 1 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 544px;
gap: 10px;

position: absolute;
width: 390px;
height: 34px;
left: calc(50% - 390px/2);
top: 0px;

background: #000000;


/* Sign up and get 20% off to your first order. Sign Up Now */

width: 301px;
height: 16px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* SHOP.CO */

position: absolute;
width: 126px;
height: 18px;
left: 56px;
top: 57px;

font-family: 'Integral CF';
font-style: normal;
font-weight: 700;
font-size: 25.2px;
line-height: 30px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;

color: #000000;



/* Frame */

position: absolute;
width: 24px;
height: 24px;
left: 16px;
top: 54px;



/* Vector */

position: absolute;
left: 10.94%;
right: 10.94%;
top: 20.31%;
bottom: 20.31%;

background: #000000;


/* Frame 5 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
width: 96px;
height: 24px;
left: 278px;
top: 54px;



/* Frame */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 7.73%;
right: 7.79%;
top: 7.73%;
bottom: 7.79%;

background: #000000;


/* Frame */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 0%;
right: 7.81%;
top: 7.81%;
bottom: 7.81%;

background: #000000;


/* Frame */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Vector */

position: absolute;
left: 7.81%;
right: 7.81%;
top: 7.81%;
bottom: 7.81%;

background: #000000;


/* Group 13 */

position: absolute;
width: 392px;
height: 981px;
left: -1px;
top: 1159px;



/* Rectangle 1 */

position: absolute;
width: 392px;
height: 846px;
left: calc(50% - 392px/2);
top: 1294px;

background: #F0F0F0;


/* Frame 109 */

position: absolute;
width: 358px;
height: 293px;
left: 16px;
top: 1159px;

background: #000000;
border-radius: 20px;


/* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 12px;

position: absolute;
width: 311px;
height: 42px;
left: calc(50% - 311px/2 + 0.5px);
top: 169px;

background: #FFFFFF;
border-radius: 62px;


/* Frame */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 7.81%;
right: 7.81%;
top: 17.19%;
bottom: 17.19%;

background: rgba(0, 0, 0, 0.4);


/* Enter your email address */

width: 151px;
height: 19px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: rgba(0, 0, 0, 0.4);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 4 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px;
gap: 12px;

position: absolute;
width: 311px;
height: 42px;
left: 24px;
top: 223px;

background: #FFFFFF;
border-radius: 62px;


/* Subscribe to Newsletter */

width: 150px;
height: 19px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* STAY UPTO DATE ABOUT OUR LATEST OFFERS */

position: absolute;
width: 297px;
height: 105px;
left: 24px;
top: 32px;

font-family: 'Integral CF';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 35px;
/* or 109% */

color: #FFFFFF;



/* SHOP.CO */

position: absolute;
width: 144px;
height: 20px;
left: 16px;
top: 1483.58px;

font-family: 'Integral CF';
font-style: normal;
font-weight: 700;
font-size: 28.847px;
line-height: 35px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;

color: #000000;



/* We have clothes that suits your style and which you’re proud to wear. From women to men. */

position: absolute;
width: 357px;
height: 40px;
left: 17px;
top: 1517.58px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

color: rgba(0, 0, 0, 0.6);



/* Social */

position: absolute;
width: 148px;
height: 28px;
left: 16px;
top: 1577.58px;



/* 1 */

position: absolute;
width: 28px;
height: 28px;
left: 16px;
top: 1577.58px;



/* BG */

box-sizing: border-box;

position: absolute;
width: 28px;
height: 28px;
left: 16px;
top: 1577.58px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.2);


/* logo-twitter 2 */

position: absolute;
width: 11.17px;
height: 9.03px;
left: 25.03px;
top: 1587.52px;



/* Group */

position: absolute;
left: 6.42%;
right: 90.72%;
top: 74.18%;
bottom: 25.39%;



/* Vector */

position: absolute;
width: 11.17px;
height: 9.03px;
left: 25.03px;
top: 1587.52px;

background: #000000;


/* 2 */

position: absolute;
width: 28px;
height: 28px;
left: 56px;
top: 1577.58px;



/* BG */

position: absolute;
width: 28px;
height: 28px;
left: 56px;
top: 1577.58px;

background: #000000;


/* logo-fb-simple 2 */

position: absolute;
width: 6.32px;
height: 12.17px;
left: 66.84px;
top: 1585.71px;



/* Group */

position: absolute;
left: 17.14%;
right: 81.24%;
top: 74.1%;
bottom: 25.33%;



/* Vector */

position: absolute;
width: 6.32px;
height: 12.17px;
left: 66.84px;
top: 1585.71px;

/* base/white */
background: #FFFFFF;


/* 3 */

position: absolute;
width: 28px;
height: 28px;
left: 96px;
top: 1577.58px;



/* BG */

box-sizing: border-box;

position: absolute;
width: 28px;
height: 28px;
left: 96px;
top: 1577.58px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.2);


/* logo-instagram 1 */

position: absolute;
width: 13.55px;
height: 13.55px;
left: 103.23px;
top: 1584.81px;



/* Group */

position: absolute;
left: 26.47%;
right: 70.06%;
top: 74.06%;
bottom: 25.31%;



/* Vector */

position: absolute;
width: 13.55px;
height: 13.55px;
left: 103.23px;
top: 1584.81px;

background: #000000;


/* Vector */

position: absolute;
width: 6.96px;
height: 6.96px;
left: 106.52px;
top: 1588.11px;

background: #000000;


/* Vector */

position: absolute;
width: 1.63px;
height: 1.63px;
left: 112.8px;
top: 1587.16px;

background: #000000;


/* 4 */

position: absolute;
width: 28px;
height: 28px;
left: 136px;
top: 1577.58px;



/* BG */

box-sizing: border-box;

position: absolute;
width: 28px;
height: 28px;
left: 136px;
top: 1577.58px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.2);


/* logo-github 1 */

position: absolute;
width: 12.96px;
height: 12.65px;
left: 144.13px;
top: 1584.81px;



/* Group */

position: absolute;
left: 36.96%;
right: 59.72%;
top: 74.06%;
bottom: 25.35%;



/* Vector */

position: absolute;
width: 12.96px;
height: 12.65px;
left: 144.13px;
top: 1584.81px;

background: #000000;


/* Frame 47 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
width: 91px;
height: 146px;
left: 16px;
top: 1630px;



/* HELP MENU */

width: 88px;
height: 18px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */
letter-spacing: 3px;
text-transform: uppercase;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* About Features Works */

width: 91px;
height: 112px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* or 114% */

color: rgba(0, 0, 0, 0.6);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 113 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
width: 121px;
height: 146px;
left: 16px;
top: 1800px;



/* HELP MENU */

width: 33px;
height: 18px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */
letter-spacing: 3px;
text-transform: uppercase;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* About Features Works */

width: 121px;
height: 112px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* or 114% */

color: rgba(0, 0, 0, 0.6);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 110 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
width: 121px;
height: 146px;
left: 196px;
top: 1630px;



/* HELP MENU */

width: 44px;
height: 18px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */
letter-spacing: 3px;
text-transform: uppercase;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* About Features Works */

width: 121px;
height: 112px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* or 114% */

color: rgba(0, 0, 0, 0.6);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 112 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
width: 159px;
height: 146px;
left: 196px;
top: 1800px;



/* HELP MENU */

width: 107px;
height: 18px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */
letter-spacing: 3px;
text-transform: uppercase;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* About Features Works */

width: 159px;
height: 112px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* or 114% */

color: rgba(0, 0, 0, 0.6);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Line 5 */

position: absolute;
width: 358px;
height: 0px;
left: calc(50% - 358px/2);
top: 1986px;

border: 1px solid rgba(0, 0, 0, 0.1);


/* © 2000-2021, All rights reserved */

position: absolute;
width: 269px;
height: 19px;
left: calc(50% - 269px/2 + 0.5px);
top: 2002px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */
text-align: right;

color: rgba(0, 0, 0, 0.6);



/* Frame 53 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-end;
padding: 0px;
gap: 10.29px;

position: absolute;
width: 240.93px;
height: 25.74px;
left: calc(50% - 240.93px/2 - 0.54px);
top: 2037px;



/* Badge */

width: 39.96px;
height: 25.74px;

/* Neutral Colors/White */
background: #FFFFFF;
/* Neutral Colors/400 */
border: 0.1921px solid #D6DCE5;
box-shadow: 0px 3.842px 7.684px rgba(183, 183, 183, 0.08), 0px 0.3842px 3.842px rgba(183, 183, 183, 0.08);
border-radius: 4.6104px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Visa */

position: absolute;
left: 14.83%;
right: 15.37%;
top: 33.08%;
bottom: 31.92%;

/* Payments/Visa/Blue */
background: #1434CB;


/* Badge */

width: 39.96px;
height: 25.74px;

/* Neutral Colors/White */
background: #FFFFFF;
/* Neutral Colors/400 */
border: 0.1921px solid #D6DCE5;
box-shadow: 0px 3.842px 7.684px rgba(183, 183, 183, 0.08), 0px 0.3842px 3.842px rgba(183, 183, 183, 0.08);
border-radius: 4.6104px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Mastercard */

position: absolute;
left: 22.6%;
right: 22.95%;
top: 23.88%;
bottom: 23.88%;

/* Payments/Mastercard/Yellow */
background: #F79E1B;


/* Badge */

width: 39.96px;
height: 25.74px;

/* Neutral Colors/White */
background: #FFFFFF;
/* Neutral Colors/400 */
border: 0.1921px solid #D6DCE5;
box-shadow: 0px 3.842px 7.684px rgba(183, 183, 183, 0.08), 0px 0.3842px 3.842px rgba(183, 183, 183, 0.08);
border-radius: 4.6104px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Paypal */

position: absolute;
left: 12.98%;
right: 12.9%;
top: 35.45%;
bottom: 33.89%;

/* Payments/Paypal/Blue 1 */
background: #179BD7;


/* Badge */

width: 39.96px;
height: 25.74px;

/* Neutral Colors/White */
background: #FFFFFF;
/* Neutral Colors/400 */
border: 0.1921px solid #D6DCE5;
box-shadow: 0px 3.842px 7.684px rgba(183, 183, 183, 0.08), 0px 0.3842px 3.842px rgba(183, 183, 183, 0.08);
border-radius: 4.6104px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/*  Pay */

position: absolute;
left: 21.63%;
right: 21.7%;
top: 32.09%;
bottom: 30.6%;

/* Neutral Colors/Black */
background: #000008;


/* Badge */

width: 39.96px;
height: 25.74px;

/* Neutral Colors/White */
background: #FFFFFF;
/* Neutral Colors/400 */
border: 0.1921px solid #D6DCE5;
box-shadow: 0px 3.842px 7.684px rgba(183, 183, 183, 0.08), 0px 0.3842px 3.842px rgba(183, 183, 183, 0.08);
border-radius: 4.6104px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* G Pay */

position: absolute;
left: 19.23%;
right: 19.5%;
top: 32.84%;
bottom: 29.85%;

/* Payments/G Pay/Orange */
background: #E94235;


/* Line 4 */

position: absolute;
width: 358px;
height: 0px;
left: calc(50% - 358px/2);
top: 98px;

border: 1px solid rgba(0, 0, 0, 0.1);


/* Line 5 */

position: absolute;
width: 358px;
height: 0px;
left: calc(50% - 358px/2);
top: 1052.99px;

border: 1px solid rgba(0, 0, 0, 0.1);


/* Frame 9 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 6px;

position: absolute;
width: 104px;
height: 19px;
left: 16px;
top: 118px;



/* Frame 7 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 56px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Home */

width: 38px;
height: 10px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: rgba(0, 0, 0, 0.6);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame */

width: 14px;
height: 14px;

transform: rotate(-90deg);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 32.8%;
right: -4.69%;
top: 14.05%;
bottom: 45.3%;

background: rgba(0, 0, 0, 0.6);
transform: rotate(-90deg);


/* Casual */

width: 42px;
height: 19px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Casual */

position: absolute;
width: 76px;
height: 32px;
left: 16px;
top: 149px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
display: flex;
align-items: center;

color: #000000;



/* Frame 19 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 20px;
gap: 12px;

position: absolute;
width: 32px;
height: 32px;
left: 342px;
top: 149px;

background: #F0F0F0;
border-radius: 62px;


/* Frame */

margin: 0 auto;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 7.81%;
right: 7.81%;
top: 10.94%;
bottom: 10.94%;

background: #000000;


/* Showing 1-10 of 100 Products */

position: absolute;
width: 183px;
height: 10px;
left: 100px;
top: 164px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;

color: rgba(0, 0, 0, 0.6);



/* Frame 60 */

position: absolute;
width: 172px;
height: 174px;
left: 16px;
top: 210px;

background: #F0EEED;
border-radius: 13.4237px;


/* image 7 */

position: absolute;
width: 198.67px;
height: 298.01px;
left: -0.67px;
top: -49px;

background: url(image.png), url(image.png);


/* image 8 */

position: absolute;
width: 173px;
height: 260px;
left: -1px;
top: calc(50% - 260px/2);

background: url(image.png), url(image.png);


/* Frame 107 */

position: absolute;
width: 172px;
height: 174px;
left: 16px;
top: 491px;

background: #F0EEED;
border-radius: 13.4237px;


/* image 7 */

position: absolute;
width: 198.67px;
height: 298.01px;
left: -0.67px;
top: -49px;

background: url(image.png), url(image.png);


/* image 8 */

position: absolute;
width: 173px;
height: 260px;
left: -1px;
top: calc(50% - 260px/2);

background: url(image.png), url(image.png);


/* image 10 */

position: absolute;
width: 172px;
height: 258px;
left: calc(50% - 172px/2);
top: calc(50% - 258px/2);

background: url(image.png);


/* Frame 113 */

position: absolute;
width: 172px;
height: 174px;
left: 16px;
top: 772px;

background: #F0EEED;
border-radius: 13.4237px;


/* image 7 */

position: absolute;
width: 198.67px;
height: 298.01px;
left: -0.67px;
top: -49px;

background: url(image.png), url(image.png);


/* image 8 */

position: absolute;
width: 173px;
height: 260px;
left: -1px;
top: calc(50% - 260px/2);

background: url(image.png), url(image.png);


/* image 10 */

position: absolute;
width: 172px;
height: 258px;
left: calc(50% - 172px/2);
top: calc(50% - 258px/2);

background: url(image.png);


/* image 9 */

position: absolute;
width: 172px;
height: 258px;
left: 0px;
top: calc(50% - 258px/2);

background: url(image.png);


/* Frame 104 */

position: absolute;
width: 172px;
height: 174px;
left: 202px;
top: 210px;

background: #F0EEED;
border-radius: 13.4237px;


/* image 7 */

position: absolute;
width: 198.67px;
height: 298.01px;
left: -0.67px;
top: -49px;

background: url(image.png), url(image.png);


/* image 8 */

position: absolute;
width: 199px;
height: 298px;
left: -1px;
top: calc(50% - 298px/2);

background: url(image.png);


/* image 9 */

position: absolute;
width: 172px;
height: 258px;
left: calc(50% - 172px/2);
top: calc(50% - 258px/2);

background: url(image.png);


/* Frame 108 */

position: absolute;
width: 172px;
height: 174px;
left: 202px;
top: 491px;

background: #F0EEED;
border-radius: 13.4237px;


/* image 7 */

position: absolute;
width: 198.67px;
height: 298.01px;
left: -0.67px;
top: -49px;

background: url(image.png), url(image.png);


/* image 8 */

position: absolute;
width: 199px;
height: 298px;
left: -1px;
top: calc(50% - 298px/2);

background: url(image.png);


/* image 9 */

position: absolute;
width: 172px;
height: 258px;
left: calc(50% - 172px/2);
top: calc(50% - 258px/2);

background: url(image.png);


/* image 10 */

position: absolute;
width: 142px;
height: 213px;
left: 15px;
top: calc(50% - 213px/2 + 0.5px);

background: url(image.png);


/* Frame 114 */

position: absolute;
width: 172px;
height: 174px;
left: 202px;
top: 772px;

background: #F0EEED;
border-radius: 13.4237px;


/* image 7 */

position: absolute;
width: 198.67px;
height: 298.01px;
left: -0.67px;
top: -49px;

background: url(image.png), url(image.png);


/* image 8 */

position: absolute;
width: 199px;
height: 298px;
left: -1px;
top: calc(50% - 298px/2);

background: url(image.png);


/* image 9 */

position: absolute;
width: 172px;
height: 258px;
left: calc(50% - 172px/2);
top: calc(50% - 258px/2);

background: url(image.png);


/* image 10 */

position: absolute;
width: 142px;
height: 213px;
left: 15px;
top: calc(50% - 213px/2 + 0.5px);

background: url(image.png);


/* image 11 */

position: absolute;
width: 172px;
height: 258px;
left: 0px;
top: calc(50% - 258px/2);

background: url(image.png);


/* Frame 62 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 11px;

position: absolute;
width: 106.09px;
height: 16px;
left: 16px;
top: 420px;



/* Frame 10 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 4.44px;

width: 67.09px;
height: 15.47px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Star 1 */

width: 15.47px;
height: 15.47px;

background: #FFC633;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Star 2 */

width: 15.47px;
height: 15.47px;

background: #FFC633;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Star 3 */

width: 15.47px;
height: 15.47px;

background: #FFC633;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Star 4 */

width: 7.36px;
height: 13.99px;

background: #FFC633;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* 3.5/5 */

width: 28px;
height: 16px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 109 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 11px;

position: absolute;
width: 117.2px;
height: 16px;
left: 16px;
top: 701px;



/* Frame 10 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 4.44px;

width: 75.2px;
height: 15.47px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Star 1 */

width: 15.47px;
height: 15.47px;

background: #FFC633;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Star 2 */

width: 15.47px;
height: 15.47px;

background: #FFC633;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Star 3 */

width: 15.47px;
height: 15.47px;

background: #FFC633;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Star 4 */

width: 15.47px;
height: 15.47px;

background: #FFC633;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* 4.0/5 */

width: 31px;
height: 16px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 115 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 11px;

position: absolute;
width: 127px;
height: 16px;
left: 16px;
top: 982px;



/* Frame 10 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 4.44px;

width: 87px;
height: 15.47px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Star 1 */

width: 15.47px;
height: 15.47px;

background: #FFC633;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Star 2 */

width: 15.47px;
height: 15.47px;

background: #FFC633;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Star 3 */

width: 15.47px;
height: 15.47px;

background: #FFC633;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Star 4 */

width: 15.47px;
height: 15.47px;

background: #FFC633;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Star 5 */

width: 7.36px;
height: 13.99px;

background: #FFC633;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* 4.5/5 */

width: 29px;
height: 16px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 105 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 11px;

position: absolute;
width: 127px;
height: 16px;
left: 202px;
top: 420px;



/* Frame 10 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 4.44px;

width: 87px;
height: 15.47px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Star 1 */

width: 15.47px;
height: 15.47px;

background: #FFC633;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Star 2 */

width: 15.47px;
height: 15.47px;

background: #FFC633;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Star 3 */

width: 15.47px;
height: 15.47px;

background: #FFC633;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Star 4 */

width: 15.47px;
height: 15.47px;

background: #FFC633;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Star 5 */

width: 7.36px;
height: 13.99px;

background: #FFC633;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* 4.5/5 */

width: 29px;
height: 16px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 110 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 11px;

position: absolute;
width: 106.09px;
height: 16px;
left: 202px;
top: 701px;



/* Frame 10 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 4.44px;

width: 67.09px;
height: 15.47px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Star 1 */

width: 15.47px;
height: 15.47px;

background: #FFC633;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Star 2 */

width: 15.47px;
height: 15.47px;

background: #FFC633;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Star 3 */

width: 15.47px;
height: 15.47px;

background: #FFC633;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Star 4 */

width: 7.36px;
height: 13.99px;

background: #FFC633;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* 3.5/5 */

width: 28px;
height: 16px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 116 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 11px;

position: absolute;
width: 127px;
height: 16px;
left: 202px;
top: 982px;



/* Frame 10 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 4.44px;

width: 87px;
height: 15.47px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Star 1 */

width: 15.47px;
height: 15.47px;

background: #FFC633;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Star 2 */

width: 15.47px;
height: 15.47px;

background: #FFC633;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Star 3 */

width: 15.47px;
height: 15.47px;

background: #FFC633;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Star 5 */

width: 15.47px;
height: 15.47px;

background: #FFC633;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Star 4 */

width: 7.36px;
height: 13.99px;

background: #FFC633;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* 4.5/5 */

width: 29px;
height: 16px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Gradient Graphic T... */

position: absolute;
width: 155px;
height: 22px;
left: 16px;
top: 394px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
/* identical to box height */
display: flex;
align-items: center;

color: #000000;



/* Black Striped T-shirt */

position: absolute;
width: 152px;
height: 22px;
left: 16px;
top: 675px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
/* identical to box height */
display: flex;
align-items: center;

color: #000000;



/* Checkered Shirt */

position: absolute;
width: 121px;
height: 22px;
left: 16px;
top: 956px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
/* identical to box height */
display: flex;
align-items: center;

color: #000000;



/* Polo with Tipping De... */

position: absolute;
width: 169px;
height: 22px;
left: 202px;
top: 394px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
/* identical to box height */
display: flex;
align-items: center;

color: #000000;



/* Skinny Fit Jeans */

position: absolute;
width: 120px;
height: 22px;
left: 202px;
top: 675px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
/* identical to box height */
display: flex;
align-items: center;

color: #000000;



/* Sleeve Striped T-shirt */

position: absolute;
width: 159px;
height: 22px;
left: 202px;
top: 956px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
/* identical to box height */
display: flex;
align-items: center;

color: #000000;



/* Frame 103 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 5px;

position: absolute;
width: 145px;
height: 27px;
left: 16px;
top: 439.99px;



/* $145 */

width: 45px;
height: 27px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
/* identical to box height */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* $242 */

width: 48px;
height: 27px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
/* identical to box height */
display: flex;
align-items: center;
text-decoration-line: line-through;

color: rgba(0, 0, 0, 0.4);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 66 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 14px;
gap: 12px;

width: 42px;
height: 20px;

background: rgba(255, 51, 51, 0.1);
border-radius: 62px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* -20% */

width: 26px;
height: 14px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 14px;
/* identical to box height */

color: #FF3333;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 111 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 5px;

position: absolute;
width: 144px;
height: 27px;
left: 16px;
top: 720.99px;



/* $120 */

width: 46px;
height: 27px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
/* identical to box height */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* $150 */

width: 46px;
height: 27px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
/* identical to box height */
display: flex;
align-items: center;
text-decoration-line: line-through;

color: rgba(0, 0, 0, 0.4);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 66 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 14px;
gap: 12px;

width: 42px;
height: 20px;

background: rgba(255, 51, 51, 0.1);
border-radius: 62px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* -30% */

width: 27px;
height: 14px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 14px;
/* identical to box height */

color: #FF3333;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 117 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 5px;

position: absolute;
width: 47px;
height: 27px;
left: 16px;
top: 1001.99px;



/* $180 */

width: 47px;
height: 27px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
/* identical to box height */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 106 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 5px;

position: absolute;
width: 147px;
height: 27px;
left: 202px;
top: 439.99px;



/* $180 */

width: 47px;
height: 27px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
/* identical to box height */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* $242 */

width: 48px;
height: 27px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
/* identical to box height */
display: flex;
align-items: center;
text-decoration-line: line-through;

color: rgba(0, 0, 0, 0.4);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 66 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 14px;
gap: 12px;

width: 42px;
height: 20px;

background: rgba(255, 51, 51, 0.1);
border-radius: 62px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* -20% */

width: 26px;
height: 14px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 14px;
/* identical to box height */

color: #FF3333;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 112 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 5px;

position: absolute;
width: 154px;
height: 27px;
left: 202px;
top: 720.99px;



/* $240 */

width: 51px;
height: 27px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
/* identical to box height */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* $260 */

width: 51px;
height: 27px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
/* identical to box height */
display: flex;
align-items: center;
text-decoration-line: line-through;

color: rgba(0, 0, 0, 0.4);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 66 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 14px;
gap: 12px;

width: 42px;
height: 20px;

background: rgba(255, 51, 51, 0.1);
border-radius: 62px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* -20% */

width: 26px;
height: 14px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 14px;
/* identical to box height */

color: #FF3333;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 118 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 5px;

position: absolute;
width: 145px;
height: 27px;
left: 202px;
top: 1001.99px;



/* $130 */

width: 46px;
height: 27px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
/* identical to box height */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* $160 */

width: 47px;
height: 27px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
/* identical to box height */
display: flex;
align-items: center;
text-decoration-line: line-through;

color: rgba(0, 0, 0, 0.4);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 66 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 14px;
gap: 12px;

width: 42px;
height: 20px;

background: rgba(255, 51, 51, 0.1);
border-radius: 62px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* -30% */

width: 27px;
height: 14px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 14px;
/* identical to box height */

color: #FF3333;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 14 */

position: absolute;
width: 359px;
height: 36px;
left: 15px;
top: 1073px;



/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 90px;
height: 36px;
left: 15px;
top: 1073px;

border-radius: 8px;


/* _Button base */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 14px;
gap: 8px;

width: 90px;
height: 36px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* arrow-left */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 20.83%;
bottom: 20.83%;

border: 1.67px solid #000000;


/* Text */

width: 46px;
height: 20px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* _Pagination number base */

position: absolute;
width: 36px;
height: 36px;
left: 113px;
top: 1073px;

background: rgba(0, 0, 0, 0.06);
border-radius: 8px;


/* Content */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 8px;


/* Number */

width: 5px;
height: 20px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* _Pagination number base */

position: absolute;
width: 36px;
height: 36px;
left: 149px;
top: 1073px;

background: rgba(255, 255, 255, 0.06);
border-radius: 8px;


/* Content */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 8px;


/* Number */

width: 7px;
height: 20px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
text-align: center;

color: rgba(0, 0, 0, 0.5);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* _Pagination number base */

position: absolute;
width: 36px;
height: 36px;
left: 185px;
top: 1073px;

background: rgba(255, 255, 255, 0.06);
border-radius: 8px;


/* Content */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 8px;


/* Number */

width: 10px;
height: 20px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
text-align: center;

color: rgba(0, 0, 0, 0.5);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* _Pagination number base */

position: absolute;
width: 36px;
height: 36px;
left: 221px;
top: 1073px;

background: rgba(255, 255, 255, 0.06);
border-radius: 8px;


/* Content */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 8px;


/* Number */

width: 8px;
height: 20px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
text-align: center;

color: rgba(0, 0, 0, 0.5);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* _Pagination number base */

position: absolute;
width: 36px;
height: 36px;
left: 257px;
top: 1073px;

background: rgba(255, 255, 255, 0.06);
border-radius: 8px;


/* Content */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 8px;


/* Number */

width: 13px;
height: 20px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
text-align: center;

color: rgba(0, 0, 0, 0.5);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 73px;
height: 36px;
left: 301px;
top: 1073px;

border-radius: 8px;


/* _Button base */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 14px;
gap: 8px;

width: 73px;
height: 36px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 25px;
height: 20px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* arrow-right */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 20.83%;
bottom: 20.83%;

border: 1.67px solid #000000;
